h1{
  color: rgba(200, 200, 200, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 56px;
}

h5{
  color: rgba(200, 200, 200, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

p{
  color: rgba(200, 200, 200, 1);
}

h6{
  color: rgba(200, 200, 200, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h4{
  color: rgba(200, 200, 200, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

label{
  color: rgba(200, 200, 200, 1);
}

form #website{
  display:none;
}

#accSigninBox{
  padding-right: 10px;
}

#accRegisterBox{
  padding-right: 10px;
}

#accInfoBox{
  padding-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #accSigninBox{
    padding-top: 1%;
  }

  #accRegisterBox{
    padding-top: -2%;
    padding-bottom: 1.5%;
  }

  #accInfoBox{
    padding-top: 1%;
    padding-bottom: 2%;
  }

  #button_install{
    padding-top: 1%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #accSigninBox{
    padding-top: 1%;
  }

  #accRegisterBox{
    padding-top: -2%;
    padding-bottom: 1.5%;
  }

  #accInfoBox{
    padding-top: 1%;
    padding-bottom: 2%;
  }

  #button_install{
    padding-top: 1%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  #accSigninBox{
    padding-top: 1%;
  }

  #accRegisterBox{
    padding-top: -2%;
    padding-bottom: 2%;
  }

  #accInfoBox{
    padding-top: 1%;
    padding-bottom: 2%;
  }

  #button_install{
    padding-top: 1%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  #accSigninBox{
    padding-right: 10px;
  }

  #accRegisterBox{
    padding-right: 10px;
  }

  #accInfoBox{
    padding-right: 10px;
  }
}
